.alert{
    border: 2px solid silver;
    padding: 10px;
}

.alert-warning {
    background-color: yellow;
    color: black;
}
.alert-success {
    background-color: #4caf50;
    color: white;
}
.alert-error {
    background-color: #f44336;
    color: white;
}

.alert-info {
    background-color: #2196f3;
    color: white;
}